$blurCard: blur(13px);
$blurHoverCard: blur(2px);
$translateYCard: translateY(120px);
$scaleCard: scale(3);
$shadowCard: 0 4px 20px #00000047;
$shadowHoverCard: 0 8px 40px #00000047;
$cardRadius: 10px;
$transitionCardDuration: 0.3s;
